@import "http://fonts.googleapis.com/css?family=Nunito:400",
        "300";

* {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

body {
  color       : #666;
  font-family : 'Nunito',
                sans-serif;
}

form {
  min-width     : 320px;
  max-width     : 70%;
  margin        : 0 auto;
  padding       : 20px 0;
  border-radius : 8px;
  /* background: #f4f7f8; */
}

p {
  text-align : center;
}

.news {
  max-width : 300px;
  margin    : 20px auto;
  padding   : 0 5px;
  /* text-align: center; */
}

/*
  ****************
  Header Styles
  ****************
*/

.top-header {
  width          : 70%;
  margin         : 0 auto;
  padding        : 20px 0;
  color          : #ddd;
  background     : #2d3945;
  text-align     : center;
  text-transform : uppercase;
}

header h1 {
  margin     : 0 auto;
  text-align : center;
  font-size  : 1.5em;
}

header .signup {
  margin-top : 5px;
  margin-top : 25px;
  color      : #2d3945;
}

header p {
  margin-bottom : 25px;
  text-align    : center;
  font-size     : 1em;
}

.line {
  margin : 10px;
  /* padding: 10px 0 0; */
}

.thick {
  height        : 3px;
  border-bottom : 4px solid #2d3945;
}

.thin {
  height        : 1px;
  margin-bottom : 30px;
  border-bottom : 2px solid #2d3945;
}

/*
  ****************
  Form Styles
  ****************
*/

fieldset {
  margin : 20px 0;
  border : none;
}

legend {
  color     : #2d3945;
  font-size : 1.5em;
}

label,
legend {
  display    : block;
  text-align : left;
  /* margin: 30px 0; */
}

fieldset label {
  margin : 20px 0 10px;
}

#state,
.contact-info input {
  width         : 100%;
  height        : 50px;
  margin        : 0 auto;
  padding-left  : 10px;
  color         : #2d3945;
  border        : none;
  border-radius : .25em;
  background    : #ddd;
  font-family   : 'Nunito',
                  sans-serif;
  font-size     : 1em;
  /* padding: 30px; */
}

input:focus {
  color      : #ddd;
  background : #2d3945;
  outline    : none;
  /* transition: ease-in-out .1s; */
}

legend::before {
  content       : "";
  display       : inline-block;
  width         : 8px;
  height        : 8px;
  margin        : 5px 10px;
  border-radius : 50%;
  background    : #2d3945;
}

::-webkit-input-placeholder {
  margin-right  : 20px;
  padding-right : 20px;
  text-align    : right;
}

:-moz-placeholder {
  margin-right  : 20px;
  padding-right : 20px;
  text-align    : right;
  /* Firefox 18- */
}

::-moz-placeholder {
  margin-right  : 20px;
  padding-right : 20px;
  text-align    : right;
  /* Firefox 19+ */
}

:-ms-input-placeholder {
  margin-right  : 20px;
  padding-right : 20px;
  text-align    : right;
}

input:focus {
  border : 2px solid #2d3945;
}

select {
  text-align  : right;
  font-family : 'Nunito',
                sans-serif;
  font-size   : .2em;
  /* color: #666; */
}

#zip {
  width         : 50%;
  margin-bottom : 20px;
}

input[type="checkbox"],
input[type="radio"] {
  display        : inline-block;
  width          : 20px;
  height         : 20px;
  vertical-align : middle;
  /* margin: 10px 0; */
}

.newsletter {
  margin-bottom : 20px;
}

.newsletter label {
  display : inline-block;
  margin  : 0 0 0 5px;
  padding : 0px;
  /*
  margin-top: 0;
  margin-bottom: 20px;
  */
  /* vertical-align: middle; */
}

.newsletter p {
  text-align : left;
}

.checkboxes,
.radioboxes {
  margin : 10px 0;
  /* height: 30px; */
}

.checkboxes:checked {
  color  : red;
  border : 2px solid #4ebbb5;
}

#topics {
  width         : 100%;
  height        : 100px;
  padding       : 5px 10px;
  color         : #555;
  border-radius : 10px;
  font-family   : 'Nunito',
                  sans-serif;
}

button {
  display       : block;
  width         : 90%;
  margin        : 10px auto;
  padding       : 16px 20px;
  color         : #eee;
  border        : none;
  border-radius : 6px;
  background    : #4ebbb5;
  text-align    : center;
  font-size     : 1.2em;
}

/*
  button {
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  }
*/
